if !webOpen
    .closed-notice 
        p.closed-notice-title NOTE!
        p.
            You can't use this website right now as we're closed.
            Please come back in our nomal working hours which is 9:00AM to 5:00PM. Thank you.