doctype html
html
    head 
        title Contact Us
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="style.css")
    body 
        include includes/navbar
        .container
            h1 Our contact points.
            h3 Email 
            p Contact us through email at 
                strong shopsite@gmail.com
            h3 Phone 
            p Contact us through phone with the following numbers:
            ul 
                li +12385649
                li +43587618
            
            include includes/closed-warning
