doctype html
html
    head 
        title Main Page
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="style.css")
    body 
        include includes/navbar
        .container
            h1 Welcome to ShopSite! 
            p Make your orders for whatever you need on the #1 shopping site.

            include includes/closed-warning
