doctype html
html
    head 
        title Our Services
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="style.css")
    body 
        include includes/navbar
        .container
            h1 We offer top-notch online shopping services.
            p Order products and get them delivered to your doorstep! Shopping is made easy with ShopSite.
            
            include includes/closed-warning
